.avatar{
    width: 10vh;
}

.title{
    margin: 0px;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-color: lightgray; 
    border-width: 1px;
}

body{
    margin: 0px;
}